*{
    margin: 0;
    padding: 0;
    }

header{
    width: 100%;
    height: 90px;
    text-align: center;
}

.h1{
    color: rgba(250, 34, 52, 0.753);
    margin: auto;
    text-align: center;
    font-weight: 80;
    font: italic bold 40px Georgia, Serif;
    text-shadow: -4px 3px 0 #e98ccbbe, -14px 7px 0 #3b0327;
}



.inicio{
    height: 100px;        
    width: 60%;
    padding: 0px;
    margin: auto;
    padding-top: 10px;
      
}

.btn-iniciar{
    width: 50%;
    height: 50px;
    border-color: rgba(175, 240, 231, 0.558);
    border-radius: 20px;
    font-size: 20px;
    background-color:  rgba(200, 236, 245, 0.558);
    margin: auto;
    display: flow-root;
    color: white;
}


body{
    background-color: rgba(0, 0, 0, 0.848);
    width: 960px;
    margin: 0 auto;
}


.botones-home{
    width: 150%;
    height: 190px;
    background-color: rgba(0, 0, 0, 0.848);
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 0px;
    margin: 0;
    display: auto;


}


#pantalla{
    border: groove 8px gold;
    background: rgb(186, 192, 157);   
    width: 960px;

}
#boton{
    width: 50%;
    height: 90px;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    border: solid 2px black;
    margin: center;
    margin: auto;
    display: flow-root;
}
#boton:hover{ /* Estilo que se activa al pasar el puntero sobre el boton */
    background-color: lightcoral;
    font-size: 22px;
    border: groove 4px red;
}

.autor{
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}
